/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
  font-family:"8bitoperator Regular";
  src:url("fonts/8bitoperator.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}

* {
  box-sizing: border-box;
  font-family: '8bitoperator Regular';
  font-size: 12pt;
}

html {
  padding: 0;
  background-color: black;
  background-image: url("./img/bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  height: 100vh;
}

#sidenav {
  z-index: 1;
  height: 100%;
  width: 17%;
  min-width: 300px;
  border-right: 1px solid #111;
  top: 0;
  margin: 0;
  background-color: black;
  color: white;
  overflow-y: auto;
}

#sidenav ul {
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#sidenav li {
  list-style-type: none;
  margin-top: 20px;
}

#sidenav #bottomtext {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  align-items: end;
  margin-top: 20px;
}

#openbutton {
  position: fixed;
  left: 5px;
  top: 15px;
  z-index: 2;
  width: 24px;
  height: 60px;
  padding: 0;
  border: 1px white solid;
  cursor: pointer;
  font-weight: bold;
}

#closebutton {
  width: 24px;
  height: 24px;
  border: 1px white solid;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  display: table;
  padding-left: 5px;
  margin-top: 2px;
}

#closebutton h1 {
  display: table-cell;
  vertical-align: center;
  font-weight: lighter;
  text-align: center;
  line-height: 100%;
}

#sidenav h2 {
  font-size: 18pt;
  margin-top: 15px;
  margin-bottom: 10px;
}

.catName {
  margin: 15px 0px 10px;
}

#sidenav input {
  margin-bottom: 10px;
  margin-left: 10px;
}

#sidenav #searchbar {
  width: 190px;
  margin: 0;
}

#sidenav #filter {
  padding-left: 20px;
}

#sidenav p {
  font-size: 7pt;
  color: darkgray;
  opacity: 50%;
  margin: 0;
}

#sidenav p img {
  width: 10px;
  height: 10px;
  vertical-align: center;
}

#sidenav p a {
  font-size: inherit;
  text-decoration: none;
  vertical-align: center;
  text-align: center;
}

#sidebarbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

#sidebarbuttons button {
  width: 200px;
  height: 40px;
  margin-top: 5px;
  cursor: pointer;
  color: black;
}

.importexport {
  display: flex;
  width: 200px;
  gap: 4px;
}

#sidenav .otherOption label {
  font-size: 10pt;
}

#total {
  text-align: center;
  position: fixed;
  width: 300px;
  height: 100px;
  bottom: 15px;
  right: 30px;
  color: white;
  border: 20px solid transparent;
  border-image: url("./img/border.png") 30 round;
  border-image-outset: 13px;
  background-color: black;
}

#total h1 {
  text-align: center;
  vertical-align: middle;
  font-size: 20pt;
  margin: 0;
}

#total h2 {
  margin: 1px;
  color: gold;
}

@media only screen and (max-width: 600px) {
  #total {
    width: 210px;
    height: 70px;
    padding: 0;
    right: 15px;
    border: 15px solid transparent;
    border-image: url("./img/border.png") 30 round;
    border-image-outset: 8px;
  }

  #total h1 {
    font-size: 14pt;
    margin: auto;
  }

  #total h2 {
    font-size: 9pt;
  }
}

#challengepicker {
  margin: auto;
  padding: auto;
  text-align: center;
  height: 100%;
  flex: 1;
  min-width: 0;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

#tiertitles {
  min-width: 1700px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
  overflow: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black; 
}

.challengeheader {
  width: 170px;
  padding: 10px 0px;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 15pt;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  border-radius: 2px;
  border: 3px white solid;
  color: gold;
}

.headerpoints {
  margin: 2px;
  font-size: 12px;
  color: white;
}

#challenges {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
  min-width: 1700px;
}

.column {
  width: 170px;
}

#challengepicker button {
  width: 170px;
  height: 70px;
  padding: 4px;
  margin: 5px 0;
  border-radius: 2px;
  cursor: pointer;
  opacity: 90%;
  font-size: 8pt;
  font-family: '8bitoperator Regular';
  line-height: 1.5;
  border: 3px hidden;
}

.challengebutton {
  color: black;
  background-color: white;
}

.challengebuttonbucket {
  color: black;
  background-color: gold;
}

.challengebuttonpressed {
  color: white;
  background-color: green;
}

.buttoncontainer {
  width: 170px;
}

#importexportbuttons {
  padding: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loadingtext {
  color: white;
  font-size: 30pt;
  text-align: center;
}
